<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Result</title>
  </head>
  <body>
    <h2>Pig latinized phrase:</h2>
<<<<<<< HEAD
    <p> <%="#{@latinized_phrase}"%> </p>
=======
    <p> <%="#{@pig_latinized}"%> </p>
>>>>>>> 8e6100658e722f2de8cc33380ab966325cb5a44a
  </body>
</html>
